[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-xbps"]
	path = dotbot-xbps
	url = https://github.com/m-wynn/dotbot-xbps
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/m-wynn/lain.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = http://git.sysphere.org/vicious
