[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-xbps"]
	path = dotbot-xbps
	url = https://github.com/m-wynn/dotbot-xbps
[submodule "awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "awesome/vicious"]
	path = .config/awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "zsh/zplug-installer"]
	path = .config/zsh/zplug-installer
	url = http://github.com/zplug/installer.git
[submodule "tmux/tmux-yank"]
	path = .config/tmux/tmux-yank
	url = http://github.com/tmux-plugins/tmux-yank.git
[submodule ".skim"]
	path = .skim
	url = /home/matthew/.skim
