[submodule "bin/ssh-find-agent"]
	path = bin/ssh-find-agent
	url = git@github.com:wwalker/ssh-find-agent.git
[submodule "ssh-find-agent"]
	path = ssh-find-agent
	url = git@github.com:wwalker/ssh-find-agent.git
[submodule "awesome/lain"]
	path = awesome/lain
	url = git@github.com:copycat-killer/lain.git
[submodule "awesome/vicious"]
	path = awesome/vicious
	url = http://git.sysphere.org/vicious
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-xbps"]
	path = dotbot-xbps
	url = https://github.com/m-wynn/dotbot-xbps
