Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


URxvt.transparent:          true
URxvt.shading:              10
URxvt.blurRadius:           10
URxvt.fading:               10

urxvt*foreground: #ffffff
urxvt*background: #292429
urxvt*color0: #000000
urxvt*color1: #C10000
urxvt*color2: #00C100
urxvt*color3: #C1C100
urxvt*color4: #0000C1
urxvt*color5: #C100C1
urxvt*color6: #00C1C1
urxvt*color7: #C1C1C1
urxvt*color8: #646464
urxvt*color9: #f05050
urxvt*color10: #49DC49
urxvt*color11: #B8B81E
urxvt*color12: #5555FF
urxvt*color13: #E64CE6
urxvt*color14: #00C8C8
urxvt*color15: #a020f0
urxvt*transparent: true
urxvt*font: xft:Liberation\ Mono:size=11

! scrollbar style - rxvt (default), plain (most compact), next, or xterm
URxvt.scrollstyle: rxvt

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.perl-lib: /usr/lib/urxvt/perl/

URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: /usr/bin/firefox-nightly
URxvt.matcher.button: 1

URxvt.colorUL: #4682B4

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

URxvt.iso14755: false
URxvt.iso14755_52: false


URxvt.keysym.C-C:   perl:clipboard:copy
URxvt.keysym.C-V:   perl:clipboard:paste

