################################################################################
# Configure header displays
################################################################################

# Ignore all headers
ignore *

# Selectively un-ignore those that are wanted
unignore CC:
unignore BCC:
unignore Date:
unignore From:
unignore Mail-Followup-To:
unignore Message-ID:
unignore Newsgroups:
unignore Organization:
unignore Reply-To:
unignore Subject:
unignore To:
unignore User-Agent:

# Now order visible header lines
hdr_order From: Subject: To: CC: BCC: Reply-To: Mail-Followup-To: Date: Organization: User-Agent:

